<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Main page</title>
</head>
<body>

<div th:insert="blocks/header :: name-header"></div>

<div class="container-fluid">
    <div class="row">
                <!-- Общий контейнер для табов -->
                <div class="tabs">
                    <div class="col-2 left-col">

                        <!--  begin Контейнер с вкладками Admin and User  -->
                        <div class="row">
                                    <ul class="tab-header">
                                        <li class="tab-header__item js-tab-trigger active" data-tab="1">Admin</li>
                                        <li class="tab-header__item js-tab-trigger" data-tab="2">User</li>
                                    </ul>
                        </div>

                    </div>
                    <div class="col-10 left-col">
<!--                        main Container for nested tabs-->
                        <div class="tabs">
                                    <!--  Контейнер с блоками, которые содержат контент вкладок Admin and User  -->
                                    <ul class="tab-content">
                                        <li class="tab-content__item js-tab-content active" data-tab="1">
                                                    <div class="left-col col-10 vh-100">
                                                        <div class="row container mt-5">
                                                            <h3>Admin panel</h3>

                                                            <!--  Container for tabs User table and New user  -->
                                                            <ul class="tab-header">
                                                                <ul class="nav nav-tabs">
                                                                    <li class="tab-header__item js-tab-trigger active" data-tab="3">
    <!--                                                                    <a class="nav-link active" aria-current="page">User table</a>-->User table
                                                                    </li>
                                                                    <li class="tab-header__item js-tab-trigger nav-item" data-tab="4">
    <!--                                                                    <a class="nav-link tab-header__item js-tab-trigger">New user</a>-->New user
                                                                    </li>
                                                                </ul>
                                                            </ul>

                                                            <ul class="tab-content">
                                                                <li class="tab-content__item js-tab-content active" data-tab="3">
                                                                    <div class="all-users" ><h4>All users</h4></div>
                                                                    <div th:insert="blocks/table-users-in-main :: name-table-users-in-main"></div>
                                                                </li>

                                                                <!--     Content for tab 4-->
                                                                <li class="tab-content__item js-tab-content" data-tab="4">
                                                                    <div th:insert="blocks/new-user-block :: new-user-block"></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                        </li>

                                        <li class="tab-content__item js-tab-content" data-tab="2">
                                            <div th:insert="blocks/one-user-in-main :: name-user"></div>
                                        </li>



                                    </ul>

                        </div>
<!--                        end main Container for nested tabs-->
                    </div>
                </div>
    </div>
</div>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>