<script src="/js/script.js"></script>
<div th:fragment="table-users-in-main">
<div class="table-users">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">username</th>
      <th scope="col">lastname</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody id="user_table_body">
    </tbody>

  </table>
</div>
</div>